<div class="row">
  <div *ngFor="let item of catalog;let i = index;" class="col-xs-12 col-sm-6 col-md-3">
    <div class="card">
      <h5 class="card__title">{{item.name}}</h5>
      <div class="card__desc visible-xs-block visible-sm-block"> {{item.description | truncate:[80]}}</div>
      <div class="card__desc visible-md visible-lg">{{item.description | truncate : [50]}}</div>
      <div class="card__thumb">
        <app-lazyimg [pictureUrl]="item?.picture"></app-lazyimg>
      </div>
      <div class="card__price">
        {{item.price | currency:'EUR':true}}
      </div>
      <a routerLink="/product/{{item._id}}" class="card__cta btn btn-success btn-md">
        View product details
      </a>
    </div>
  </div>
</div>
