<div class="row">
  <div class="col-sm-12 col-md-8 summary-form">
    <h4>Personal details</h4>
    <form (ngSubmit)="doCheckout($event, userForm)" #userForm="ngForm" novalidate>
      <div class="form-group">
        <input type="text" required id="name" #name="ngModel" name="name" [(ngModel)]="model.name" class="form-control" placeholder="Name"
        />
        <div [hidden]="name.valid || name.pristine" class="text-danger">
          * Name is required
        </div>
      </div>
      <button [disabled]="userForm.invalid" class="btn btn-success btn-lg" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="summary">
      <app-product-summary [productName]="_product.name" [productPrice]="_product.price" [productImage]="_product.picture"></app-product-summary>
    </div>
  </div>
</div>